*{
    padding: 0;
    margin: 0;
    font-family: gc-tipografia;
}
    
a{
    color: black;
    text-decoration: none;
}

a:hover{
    background-color: #795243;
}

.logo{
    width: 64px;
    height: 64px;
    margin: 16px;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #d0ac7a;
    align-items: center;
    padding-right: 16px;
}

.barra-navegacion-header{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0px;
}

.link-header{
    color: black;
    font-size: 16px;   
    margin: 16px;
}

.oferta{
    border: 2px solid #795243;
    width: 95vw;
    text-align: center;
    margin: auto;
    margin-top: 5px;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    background-color: #d0ac7a;
    padding: 8px;
    justify-content: space-around;
}

.link-footer{
    color: black;
    font-size: 10px;
    list-style-type: none;
}

.h{
    text-align: center;
}

/* EXCLUSIVO INDEX/HOME */

.slogan-index{
    margin: 16px;
}

.core-index{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 16px;
    justify-content: space-evenly;
    text-align: unset;
}

.texto-index{
    font-family: intro-index;
    font-size: 24px;
    width: 360px;
}

.remeras-main{
    height: 360px;
    width: 360px;
    justify-content: center;
}

/* EXCLUSIVO TALLES */


.td{
    border: 2px solid #795243;
    text-align: center;
    padding: 5px;
}

.tabla-talles-torso{
    /* font-family: intro-index; (NO LO PUEDO CORREGIR/PISAR, AYUDA) */
    border: 6px solid #795243;
    padding: 2px;
}

.talles-mujeres{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.foto-talle-mujer{
    width: 25%;
    height: 25%;
    justify-content: center;
}

.talles-hombres{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.foto-talle-hombre{
    width: 25%;
    height: 25%;
    justify-content: center;
}

.main-talles{
    margin: 8px;
}

.h3-talles{
    margin: 8px;
}

/* EXCLUSIVO CONTACTO */

.formulario{
    margin: 16px;
}

.casilla-formulario{
    width: 360px;
    margin: 4px;
}

.casilla-formulario-mensaje{
    width: 360px;
    height: 160px;
    margin: 4px;
    /* COMO PUEDO HACER PARA QUE EL TEXTO PLACEHOLDER QUEDE ALINEADO AL INICIO Y NO CENTRADO? */
}

/* MEDIA QUERIES */

@media (max-width: 421px){
    *{
        font-size: xx -small;
    }

    .link-header{
        font-size: 8px;
    }

    .header{
        flex-direction: row-reverse;
    }

    .barra-navegacion-header{
        flex-direction: column;
    }

    .link-header{
        margin: 4px;
    }

    .logo {
        margin: 4px;
    }

    .footer{
        flex-wrap: nowrap;
    }

    .h{
        font-size: 12px;}

    .oferta{
        font-size: 8px;
    }

    .h3-talles{
        font-size: 18px;
    }

    .tabla-talles-torso{
        font-size: 8px;
    }
    
    .talles-mujeres{
        align-items: center;
    }
    
    .talles-hombres{
        align-items: center;
    }

    .h1-formulario{
        font-size: 18px;
    }

    .h5-formulario{
        font-size: 12px;
    }
    
    .casilla-formulario{
        font-size: 12px;
    }

    .casilla-formulario-mensaje{
        font-size: 12px;
    }
}